<div class="card">
    <div class="card-header bg-dark text-light">Level 1</div>
    <div class="card-body">
        <p>Using the SportsORM, complete all the following queries and show their results on Level1.cshtml.</p>
        <ol>
            <li>...all womens' leagues</li>
            <li>...all leagues where sport is any type of hockey</li>
            <li>...all leagues where sport is something OTHER THAN football</li>
            <li>...all leagues that call themselves "conferences"</li>
            <li>...all leagues in the Atlantic region</li>
            <li>...all teams based in Dallas</li>
            <li>...all teams named the Raptors</li>
            <li>...all teams whose location includes "City"</li>
            <li>...all teams whose names begin with "T"</li>
            <li>...all teams, ordered alphabetically by location</li>
            <li>...all teams, ordered by team name in reverse alphabetical order</li>
            <li>...every player with last name "Cooper"</li>
            <li>...every player with first name "Joshua"</li>
            <li>...every player with last name "Cooper" EXCEPT those with "Joshua" as the first name</li>
            <li>...all players with first name "Alexander" OR first name "Wyatt"</li>
        </ol>
    </div>
</div>

<form action="level_1">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3>All womens Leagues</h3>
                <table class="table table-striped">
                    <tr>
                        <th>League Name</th>
                        <th>League Sport</th>
                    </tr>
                    @foreach(var l in ViewBag.women)
                    {
                        <tr>
                            <td>@l.Name</td>
                            <td>@l.Sport</td>
                        </tr>
                    }
                </table>
            </div>
            <div class="card-body">
                <h3>All hockey Leagues</h3>
                <table class="table table-striped">
                    <tr>
                        <th>League Name</th>
                        <th>League Sport</th>
                    </tr>
                    @foreach(var l in ViewBag.hockey)
                    {
                        <tr>
                            <td>@l.Name</td>
                            <td>@l.Sport</td>
                        </tr>
                    }
                </table>
            </div>
            <div class="card-body">
                    
                     <h3>All  Leagues other than football</h3>
                     <table class="table table-striped">
                     <tr>
                        <th>League Name</th>
                        <th>League Sport</th>
                    </tr>
                      @foreach(var l in ViewBag.notfootball)
                    {
                        <tr>
                            <td>@l.Name</td>
                            <td>@l.Sport</td>
                        </tr>
                    }
                </table>
            </div>
            <div class="card-body">
                    
                     <h3>All  Leagues call themselves conferences</h3>
                     <table class="table table-striped">
                     <tr>
                        <th>League Name</th>
                        <th>League Sport</th>
                    </tr>
                      @foreach(var l in ViewBag.conf)
                    {
                        <tr>
                            <td>@l.Name</td>
                            <td>@l.Sport</td>
                        </tr>
                    }
                </table>
            </div>
            
            <div class="card-body">
                    
                     <h3>All  Leagues in the Atlantic Region</h3>
                     <table class="table table-striped">
                     <tr>
                        <th>League Name</th>
                        <th>League Sport</th>
                    </tr>
                      @foreach(var l in ViewBag.alt)
                    {
                        <tr>
                            <td>@l.Name</td>
                            <td>@l.Sport</td>
                        </tr>
                    }
                </table>
            </div>
                        <div class="card-body">
                    
                     <h3>All  teams based in Dallas</h3>
                     <table class="table table-striped">
                     <tr>
                         <th>Team Location</th>
                        <th>Team Name</th>
                        
                    </tr>
                      @foreach(var l in ViewBag.dl)
                    {
                        <tr>
                            <td>@l.Location</td>
                            <td>@l.TeamName</td>
                        </tr>
                    }
                </table>
            </div>
             <div class="card-body">
                    
                     <h3>All  teams named the Raptors</h3>
                     <table class="table table-striped">
                     <tr>
                         <th>Team Location</th>
                        <th>Team Name</th>
                        <th>Team ID</th>
                        
                    </tr>
                      @foreach(var l in ViewBag.t1)
                    {
                        <tr>
                            <td>@l.Location</td>
                            <td>@l.TeamName</td>
                            <td>@l.TeamId</td>
                        </tr>
                    }
                </table>
            </div>
        <div class="card-body">
                    
                     <h3>All  teams named the City</h3>
                     <table class="table table-striped">
                     <tr>
                         <th>Team Location</th>
                        <th>Team Name</th>
                        <th>Team ID</th>
                        
                    </tr>
                      @foreach(var l in ViewBag.t3)
                    {
                        <tr>
                            <td>@l.Location</td>
                            <td>@l.TeamName</td>
                            <td>@l.TeamId</td>
                        </tr>
                    }
                </table>
            </div>

             <div class="card-body">
                    
                     <h3>All  teams named starts with T</h3>
                     <table class="table table-striped">
                     <tr>
                         <th>Team Location</th>
                        <th>Team Name</th>
                        <th>Team ID</th>
                        
                    </tr>
                      @foreach(var l in ViewBag.t2)
                    {
                        <tr>
                            <td>@l.Location</td>
                            <td>@l.TeamName</td>
                            <td>@l.TeamId</td>
                        </tr>
                    }
                </table>
            </div>

            <div class="card-body">
                    
                     <h3>All  teams Ordered by Location</h3>
                     <table class="table table-striped">
                     <tr>
                        <th>Team Name</th>
                    </tr>
                      @foreach(var l in ViewBag.t4)
                    {
                        <tr>
                            <td>@l.TeamName</td>
                        </tr>
                    }
                </table>
            </div>
            <div class="card-body">
                    
                     <h3>All  teams Ordered by Lastname Cooper</h3>
                     <table class="table table-striped">
                     <tr>
                        <th>Team Name</th>
                    </tr>
                      @foreach(var l in ViewBag.t5)
                    {
                        <tr>
                           <td>@l.LastName,@l.FirstName</td>
                        </tr>
                    }
                </table>
            </div>
            <div class="card-body">
                    
                     <h3>All  first name start with joshua</h3>
                     <table class="table table-striped">
                     <tr>
                        <th>Team Name</th>
                    </tr>
                      @foreach(var l in ViewBag.t6)
                    {
                        <tr>
                            <td>@l.LastName,@l.FirstName</td>
                        </tr>
                    }
                </table>
            </div>
            <div class="card-body">
                    
                     <h3>very player with last name "Cooper" EXCEPT those with "Joshua" as the first name</h3>
                     <table class="table table-striped">
                     <tr>
                        <th>Team Name</th>
                    </tr>
                      @foreach(var l in ViewBag.t7)
                    {
                        <tr>
                            <td>@l.LastName,@l.FirstName</td>
                        </tr>
                    }
                </table>
            </div>
            <div class="card-body">
                    
                     <h3>all players with first name "Alexander" OR first name "Wyatt"</h3>
                     <table class="table table-striped">
                     <tr>
                        <th>Team Name</th>
                    </tr>
                      @foreach(var l in ViewBag.t8)
                    {
                        <tr>
                            <td>@l.LastName,@l.FirstName</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</form>
</div>